services:
  - type: web
    name: predict-dm
    env: python
    region: singapore
    plan: free
    buildCommand: |
      pip install --upgrade pip
      python train_model.py
      pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port 10000